[Unit]
Description=piradio daemon
After=network.target

[Service]
Type=Simple
Restart=always
RestartSec=1
WorkingDirectory=/root/piradio
ExecStart=/usr/local/bin/gunicorn --workers=1 --threads=1 --bind 0.0.0.0:80 wsgi


[Install]
WantedBy=multi-user.target
